# Getting started:
 First things first we need to actually get the book data into the file.Google collab is session based. meaning files you upload get removed when you leave

In [ ]:

# mounts google drive to colab session. starting at enterypoint COSC-480
from google.colab import drive
drive.mount('/COSC-480', force_remount= True)

#imports we need
import pandas as pd
import numpy as np
import csv



filepath = '/COSC-480/Shareddrives/COSC-480/COSC-480 Project/archive/books_data.csv'

"""
another method that reads file into array (might be useful)
but with our data set it crashes the website
something neat to keep in mind though.

result =[]

with open(filepath, 'r') as file:
  csvreader = csv.reader(file)
  for row in csvreader:
    result.append(row)

print(result)"""

# sets our var to the book_data file at this file path
df = pd.read_csv(filepath)

Mounted at /COSC-480
Buffered data was truncated after reaching the output size limit.

# Working with data:

In [ ]:
# you cant print the data easily
print(df)

In [58]:
# this will show all colums, and the number of not null times in each colum
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41696 entries, 5 to 212402
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          41696 non-null  object
 1   description    41696 non-null  object
 2   authors        41696 non-null  object
 3   image          41696 non-null  object
 4   previewLink    41696 non-null  object
 5   publisher      41696 non-null  object
 6   publishedDate  41696 non-null  object
 7   infoLink       41696 non-null  object
 8   categories     41696 non-null  object
 9   ratingsCount   41696 non-null  float64
dtypes: float64(1), object(9)
memory usage: 3.5+ MB

In [ ]:
# you can also use print head/ tail to print the first x or last x items
df.head()

In [ ]:
# and heres the tail
df.tail()

In [59]:
# we can also get any column we want. this will also work if we want more colums
# just have to add a , and then the same format as before
df = pd.read_csv(filepath, usecols=["Title"])
print(df)

                                                    Title
0                          Its Only Art If Its Well Hung!
1                                Dr. Seuss: American Icon
2                   Wonderful Worship in Smaller Churches
3                           Whispers of the Wicked Saints
4       Nation Dance: Religion, Identity and Cultural ...
...                                                   ...
212399  The Orphan Of Ellis Island (Time Travel Advent...
212400                            Red Boots for Christmas
212401                                              Mamaw
212402                                  The Autograph Man
212403  Student's Solutions Manual for Johnson/Mowry's...

[212404 rows x 1 columns]

#  we can also change null values, remove then and much much more
Notice how we can change all the NaN values of description

In [ ]:
# Notice all the NaNs in the description
df.head()

In [ ]:
# Here we change all not avalable items in description do whatever we want
df["description"].fillna("No description", inplace = True)
df.head()

In [ ]:

# We can also do this to remove colums we dont want
No_rateing = df.drop("ratingsCount", axis='columns')
No_rateing.head()

In [ ]:
# then this to remove ANY rows with a NA value
df = df.dropna()
df.info()